body {
    width: 99vw !important;
    overflow-x: hidden !important;
}

html, video, .player-grid, .playlist-grid {
    background-color: black;
}

.video-js {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
}

.vjs-playlist-item {
    height: 215px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.vjs-playlist-item-list {
    overflow-y: auto;
}
